* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 24px;
    font-family: 'Source Code Pro', monospace;
    font-weight: 300;
    height: 100vh;
    background: url('../assets/images/backgroundbody.jpeg') center center no-repeat;
    
}

.header {
    padding: 30px 20px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: uppercase;
    flex-wrap: wrap;
}

.link {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s ease;
    font-weight: 500;
    margin: 0 25px 10px;

}
.link:hover {
    color: rgba(255, 255, 255, 0.559);
}

.footer {
    position: absolute;
    right: 15px;
    bottom: 40px;
    color: #fff;
    padding-left: 20px;
    text-align: right;
}

@media screen and (max-width: 500px) {
    .header {
        flex-direction: column;
    }
    .header {
        margin: 10px 20px;
    }
    .footer {
        margin-left: 20px;
    }
}

@media screen and (max-width: 340px) {
    .footer {
        font-size: 20px;
    }
}